## Required Variables
# Here are the values you'll need to be prepared to update to run Skate locally:
# * Your local Postgres server username and password

# * Your personal API key from [MBTA Realtime API](https://api-v3.mbta.com/); request one if you don't have one
# URL of the MBTA v3 API for retrieving live train positions
export API_URL=https://api-v3.mbta.com/
# Access key for the MBTA v3 API
export API_KEY=

# Location of the GTFS zip file
# export GTFS_URL=

# Source of GTFS-realtime enhanced VehiclePositions json data file
# export BUSLOC_URL=

# Postgres configuration: username, password, and hostname
export POSTGRES_USERNAME=
export POSTGRES_PASSWORD=
export POSTGRES_HOSTNAME=


# * API key from [Swiftly Transitime API](https://swiftly-inc.stoplight.io/docs/realtime-standalone/YXBpOjI4NDM2MDU3-swiftly-api-reference)
# for dev only, see below for prod
export SWIFTLY_AUTHORIZATION_KEY=
# Source of Swiftly vehicle data
export SWIFTLY_REALTIME_VEHICLES_URL=

# Source of GTFS-realtime enhanced TripUpdates json data file (optional)
export TRIP_UPDATES_URL=

# Location of map tile images
export TILESET_URL=

# Erlang/OTP settings, pass "+MIscs 2048" to allocate enough memory for literals in your local dev environment
export ERL_FLAGS="+MIscs 2048"


## Optional Variables

# Source of extended schedule data
# export SKATE_HASTUS_URL=

# Used by Erlang (only required in production)
# export RELEASE_COOKIE=

# AWS Cognito Authentication/authorization details (only required in production)
# COGNITO_DOMAIN
# COGNITO_CLIENT_ID
# COGNITO_CLIENT_SECRET
# COGNITO_USER_POOL_ID
# COGNITO_AWS_REGION
# GUARDIAN_SECRET_KEY

# CDN details (only required in production)
# STATIC_SCHEME
# STATIC_HOST
# STATIC_PATH
# STATIC_PORT

# Endpoints for logging errors to Sentry (only used in production)
# SENTRY_BACKEND_DSN
# SENTRY_FRONTEND_DSN

# URL of the API for retrieving drawbridge status
# BRIDGE_URL
# Credentials for the API that gets drawbridge status
# BRIDGE_API_USERNAME
# BRIDGE_API_PASSWORD


# Authentication/authorization secret
# GUARDIAN_SECRET_KEY

# Used for writing encrypted cookies. Generate a value using mix phx.gen.secret (only required in production)
# SECRET_KEY_BASE
